@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100%;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root,
body {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  body,
  #root {
    scroll-behavior: smooth;
  }
}

@layer base {
  li {
    list-style: none;
  }
}
