@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  body,
  #root {
    scroll-behavior: smooth;
  }
}

@layer base {
  li {
    list-style: none;
  }
}
